.stoxm{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
* {
    box-sizing: border-box;
    margin: 0;
  }
  .fa-search{
    transition: 1s;
    cursor: pointer;
    margin-left: 30px;
  }
body{
    font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    margin: 0;
    padding: 0;
}
/* .stoxm{
    display: flex;
    justify-content: center;
	align-items: center;
	min-height: 100vh
} */
.nav{
    margin: 16px;
    padding: 0;
    font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.navbar{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    border-radius: 5px;
}
.navbar ul{
 overflow: auto;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 18px 0;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033,#d74177);
    animation: 12s myGradient infinite;
    border-radius: 40px;
    box-shadow: 3px 3px 20px #1d1a1a;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  @keyframes myGradient {
    0% {
      background-position: 0% 50%;
    }
    
    50%{
      background-position: 100% 50%;
    }
    
    100% {
      background-position: 0% 50%;
    }
  }
.navbar a{
    text-decoration: none;
    color:  #fff;
    font-weight: lighter;
    letter-spacing: 1px;
    opacity: 0.9;
}
.navbar li{
 float: left;
 list-style: none;
 padding: 2px 50px;
 margin: 4px 6px;
}
.navbar a{
 color: aliceblue;
}
.navbar a:hover{
    color: #fff;
    animation: 1.5s myFlash linear infinite;
    text-shadow: 2px 2px 30px #fff;
    transition: 2s;
}
@keyframes myFlash {
    0% {
      opacity: 1;
      text-shadow: transparent;
    }
    
    50% {
      opacity: .1;
    }
    
    100% {
      opacity: 1;
      text-shadow: 2px 2px 20px #fff;
    }
  }
 

  @media(max-width: 767px) {
/*     
    .navbar {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    } */
    
    ul {
      padding: 15px 0;
    }
    
    
    li a {
      padding: 34px 34px;
      font-size: 23px;
      font-weight: lighter;
    }
}
.dropdown  a{
    display: block;
    color: #fff;
    text-decoration: none;
    background: tomato;
    width: 114px;
    text-align: center;
    font-family: verdana;
    line-height: 30px;
    display: none;
  
  }
  .dropdown {
    background: red;
    width: 114px;
    height: 250px;
    color: #fff;
    font-family: verdana;
    padding: 56px 0px;
    height: 200px;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -28%;
    left: 92%;
    transition: 2s;
    margin-top: 400px;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #ff0d0d, #ff0d6e, #ff3d0d, #ffff00);
    animation: myLineargradient 6s infinite;
    box-shadow: 2px 3px 20px #ff1700;
    visibility: hidden;
  }
  
  @keyframes myLineargradient {
    0% {
      background-position: 0% 50%;
      box-shadow: 2px 3px 20px #ff1700;
    }
    
    50% {
      background-position: 100% 50%;
       box-shadow: none;
    }
    
    100% {
      background-position: 0% 50%;
       box-shadow: 2px 3px 20px #ff1700;
    }
  }
  .drop1 {
    cursor: pointer;
    text-shadow: 1px 2px 18px #fff;
    transition: 2s;
    margin-top: -5px;
  }
  
  .drop2 {
    cursor: pointer;
    text-shadow: 1px 2px 18px #fff;
    transition: 2s;
    margin-top: -5px;
  }
  /* .Active {
    transition: 2s;
    margin-top: 1px;
  } */
.lin{
 display: inline-block;
}
/* .containor{
    height: 100px;
} */
.texthead{
   
  background-blend-mode: lighten;
   /* background-image: url('https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3RvY2slMjBtYXJrZXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
   display: flex;
    height: 620px;
    padding: 215px 100px;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 200px 200px; */
    color: #e7d6d6;
    text-align: center;
    font-size: 63px;
    font-family: 'Roboto', sans-serif;
    background-image: url('https://static.janbharattimes.com/wp-content/uploads/2023/06/IIT-Indore.jpg');
  }
   h3{
    text-shadow: 10px 3px #000;
  }
.main{
	width: 500px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 54px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
@media(max-width:570px) {
      .texthead h3{
          font-size: 50px;
      }
}
input{
	width: 73%;
	height: 37px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 50%;
	height: 46px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	/* background: #573b8a; */
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.main{
  animation: sar;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes sar{
   from{
    height: 0px;
    width: 0px;
   }
   to{
     height: 100px;
     width: 100px;
   }
}
.box{
  display: flex;
  padding-top: 70px;
  width: 800px;
  height: 500px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.boxs{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  height: 215px;
  width: 200px;
  margin: 5px;
  border-radius: 15px;
  background-color: tomato;
  border: 4px solid rgb(23, 3, 79);
  box-shadow: 9px 5px #000000;
}
#box4{
  display: flex;
   position: relative;
   left: 45px;
   transform: rotate(-12deg);
}
#box5{
   position: relative;
   transform: rotate(14deg);
}
#box6{
   position: relative;
   right: 56px;
   transform: rotate(-20deg);
}
#box4:hover{
  transform: rotate(0deg);
  height: 250px;
  z-index: 4;
}
#box5:hover{
  transform: rotate(0deg);
  height: 250px;
  z-index: 4;
}
#box6:hover{
  transform: rotate(0deg);
  height: 250px;
  z-index: 4;
}
.contact{
  position: relative;
  display: flex;
  top: -84px;
  float: inline-end;
  flex-wrap: wrap;
  padding-top: 200px;
  /* height: 500px; */
  width: 100%;
  border: 4px solid darkblue;
  background: #0f0c29;
  z-index:3;
}
.imgs{
   /* position: relative; */
   display: flex;
   padding-left: 127px;
   /* padding left:5px ; */
}
.texthead img{
    height: 150px;
    width: 150px;
    border: 5px solid rgb(3, 15, 42);
    border-radius: 25px;
    box-shadow: -9px -2px 7px #252551;
  
}
@media(max-width:500px) {
    .texthead img{
      display: block;
    }
}
.contact a{
  text-decoration: none;
  color: #190b33;
  padding: 39px 40px;
  margin:25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    width: 100%;
    height: 53px;
    display: inline-block;
    padding: 15px;
    margin: 0px;
    background-color: #e7d7d7;
}
.src{
    height: 50px;
    width: 50px;
    margin: -5px;
    margin-top: -15px;
    margin-left: 30px;
}
.te{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
    justify-content: center;
}

.container{
    display:flex;
    /* border: 2px solid brown; */
    width: 100%;
    height: 500px;
    margin: auto;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    justify-content:space-around;
    align-items: stretch;
}
.boxsh{
    padding: 15px;
    margin: 10px;
    width: 500px;
    background-color: rgba(14, 10, 9, 0.425);
    /* border: 2px solid green; */
    border-radius: 10px;
}
.container{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
  }
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .headg{
    display: flex;
       justify-content: center;
       /* margin-left: px; */
  }
  .con{
    position: relative;
      margin: -66px 150px;
      z-index: 5;
      color: #23a6d5;
  }